<html>
<style>
html{
	background: url('http://subtlepatterns.com/patterns/wood_pattern.png');
}
</style>
<body>

<FORM METHOD="post" >
<TABLE BORDER=0>
  <TR>
   <TD ALIGN="right"><B>받는사람:</B></TD>
   <TD ALIGN="left"><INPUT TYPE="email" NAME="tomail" SIZE=45></TD>
  </TR>
  <TR>
   <TD ALIGN="right"><B>제목:</B></TD>
   <TD ALIGN="left"><INPUT TYPE="text" NAME="subj" SIZE=45></TD>
  </TR>
 
  <TR>
   <TD VALIGN="top" align="right"><B>내용:</B></TD>
   <TD ALIGN="right"><TEXTAREA COLS=40 ROWS=10 NAME="message" readonly>http://54.199.156.254:52273/side/<%=username%></TEXTAREA>
</TD>
  </TR>
  <TR>
   <TD COLSPAN=2 ALIGN="center"><INPUT TYPE="submit" VALUE="Send it!" ></TD>
  </TR>
</TABLE>
</FORM>


</body>
</html>

